.form-item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.form-item label {
  text-transform: capitalize;
}

.form-item input {
  padding: var(--padding-xs);
  border: 2px solid var(--color-text-secondary);
  border-radius: var(--border-radius-s);
  outline: none;
  width: 100%;
}

.form-item input:focus {
  border: 2px solid var(--color-primary-a50);
}

input::placeholder {
  font-family: var(--font-family-text);
  color: var(--color-surface-a50);
}

.form-input {
  display: flex;
}

.icon-container {
  width: 36px;
  height: 36px;
  background-color: var(--color-primary-a50);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
  margin-left: -6px;
  cursor: pointer;
}

.icon-container img {
  width: 32px;
  height: 32px;
}
