.form-item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  position: relative;
}

.form-item label {
  text-transform: capitalize;
}

.form-item input {
  padding: var(--padding-xs);
  border: 2px solid var(--color-text-secondary);
  border-radius: var(--border-radius-s);
  outline: none;
  width: 100%;
}

.form-item input.input-error {
  border: 2px solid var(--color-error-text);
}

.form-item input:focus {
  border: 2px solid var(--color-primary-a50);
}

.form-item input.input-error:focus {
  border: 2px solid var(--color-error-text);
}

input::placeholder {
  font-family: var(--font-family-text);
  color: var(--color-surface-a50);
}

.form-input {
  display: flex;
}

.icon-container {
  width: 36px;
  height: 36px;
  background-color: var(--color-primary-a50);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
  margin-left: -6px;
  cursor: pointer;
}

.icon-container img {
  width: 32px;
  height: 32px;
}

.custom-file {
  display: inline-block;
  padding: var(--padding-xs) var(--padding-s);
  cursor: pointer;
  background-color: var(--color-primary-a50);
  color: var(--white-color);
  border-radius: var(--border-radius-s);
  font-size: var(--font-size-s);
  text-align: center;
  border: none;
  font-family: var(--font-family-heading);
}

#file-chosen {
  margin-left: 10px;
  font-size: var(--font-size-xs);
  color: var(--gray-dark-color);
}

.error-message {
  color: var(--color-error-text);
}
