.instruction-form-item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.instructions-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.instructions-form h4 {
  margin-top: var(--margin-l);
}

.remove-instruction-container {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--margin-s);
}
