.components-page {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    width: max-content;
}

.component-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    width: max-content;
}

.banner-container .banner {
    position: relative;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-m);
}