.activities-container {
    padding: var(--padding-xl);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-l);
    justify-content: space-between;
}

.activities-header {
    margin-top: var(--margin-l);
    display: flex;
    justify-content: space-between;
}