.recipes-page {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  padding: var(--padding-l) 0;
}

.recipes-container {
  display: flex;
  gap: var(--gap-xl);
  flex-wrap: wrap;
  justify-content: center;
}

.recipes-page-header {
  display: flex;
  justify-content: space-between;
}
