.create-activity-container {
    padding: var(--padding-l);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-l);
}

.create-activity-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.how-to-container {
    display: flex;
    gap: var(--gap-s);
    flex-direction: column;
}

.remove-how-to-container {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--margin-s);
}