

.how-to-container {
    display: flex;
    gap: var(--gap-s);
    flex-direction: column;
}

.remove-how-to-container {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--margin-s);
}