header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: var(--gap-l);
}

header nav ul li {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-m);
  color: var(--color-text-secondary);
}

header .active {
  color: var(--color-primary-a30);
}

header nav ul li:hover {
  color: var(--color-primary-a30);
  border-bottom: 1px solid var(--color-primary-a30);
}
