.activity-card-container {
    max-width: 500px;
    height: 350px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    padding: var(--padding-s);
    position: relative;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
    gap: var(--gap-s);
}

.activity-name {
    padding: var(--padding-xs);
    position: absolute;
    top: 20px;
    left: -20px;
}

.activity-info-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.activity-info-container p {
    color: var(--color-surface-mixed-a40);
}

.activity-info-container ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

.activity-info-container ul li {
    display: flex;
    gap: var(--gap-xs);
    align-items: flex-start;
}

.activity-info-container ul li span:first-of-type {
    min-width: 16px;
    color: var(--color-primary-a0);
}
