.banner {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-xs);
    align-items: start;
    border-radius: var(--border-radius-s);
    padding: var(--padding-s);
}

.banner p {
    font-size: var(--font-size-m);
}

.banner.info {
    color: var(--banner-info-text);
    background-color: var(--banner-info-bg);
    border: 2px solid var(--banner-info-border);
}

.banner.success {
    color: var(--banner-success-text);
    background-color: var(--banner-success-bg);
    border: 2px solid var(--banner-success-border);
}


.banner.warning {
    color: var(--banner-warning-text);
    background-color: var(--banner-warning-bg);
    border: 2px solid var(--banner-warning-border);
}

.banner.error {
    color: var(--banner-error-text);
    background-color: var(--banner-error-bg);
    border: 2px solid var(--banner-error-border);
}

.close-btn-banner-container {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 100%;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.close-btn-banner-container img {
    width: 16px;
    height: 16px;
}

.close-btn-banner-container.info {
    border: 1px solid var(--banner-info-text);
}

.close-btn-banner-container.success {
    border: 1px solid var(--banner-success-text);
}

.close-btn-banner-container.warning {
    border: 1px solid var(--banner-warning-text);
}

.close-btn-banner-container.error {
    border: 1px solid var(--banner-error-text);
}