.start-recipe-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.start-recipe-container h2 {
  text-transform: uppercase;
}

.start-recipe-body {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.start-recipe-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}
